* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    #000000,
    #0d0d0d,
    #161617,
    #1d1d1e,
    #242526,
    #2b3237,
    #2f4146
  );
}

.sidebar {
  height: 100vh;
  width: 17%;
  background-color: black;
  color: grey;
  position: fixed;
  left: 0;
}

.sidebar-list {
  margin-top: 15%;
  padding: 0;
}

.sidebar-list .sidebar-item {
  width: 100%;
  height: 35px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.sidebar-list #active {
  border-left: 3px solid green;
  padding-left: 10px;
}

#sidebar-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 25rem;
}

#signup {
  background-color: white;
  border-radius: 1rem;
  width: 70%;
  font-weight: 600;
}

#login {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid grey;
  border-radius: 1rem;
  width: 70%;
  font-weight: 600;
}

#sidebar-logo-wrapper {
  display: flex;
  justify-content: center;
}

#sidebar-logo {
  width: 70%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.item-wrapper {
  width: 200px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(206, 206, 206);
  transition: transform 0.2s;
}

.item-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 10px lightblue;
}

.player-wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: #2b3237;
  padding: 20px;
}

.album-cover {
  width: 12rem;
}

.main-page {
  margin-left: 25%;
  margin-bottom: 10%;
}

.player-icons {
  color: grey;
}

.player-left {
  flex: 0.2;
  display: flex;
  align-items: center;
  color: grey;
  width: 30%;
}

.player-center {
  flex: 0.5;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}

.player-right {
  flex: 0.2;
  display: flex;
  align-items: center;
}

.player-song-cover {
  height: 60px;
  width: 60px;
  margin-left: 20px;
  object-fit: contain;
}

.album-title {
  font-size: 1rem;
}

.album-page {
  width: 50%;
  height: 50%;
  display: flex;
  margin: auto;
  color: darkgray;
  margin-top: 10%;
}

#signup-page-wrapper {
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

#signup-page-logo {
  width: 200px;
  height: 60px;
  margin-top: 5%;
}

.signup-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
  width: 400px;
}

.signup-btn {
  border-radius: 20px;
}

.fb {
  height: 40px;
  background-color: #3b5998;
  font-weight: 500;
}

.fb:hover {
  background-color: #3d5ea7;
}

#fb {
  width: 20px;
  margin-right: 15px;
  margin-bottom: 3px;
}

.apple {
  height: 40px;
  background-color: #000;
  font-weight: 500;
}

.apple:hover {
  background-color: rgb(46, 46, 46);
}

.google {
  height: 40px;
  background-color: white;
  color: #000;
  font-weight: 500;
}

.google:hover {
  background-color: rgb(105, 105, 105);
  color: rgb(253, 253, 253);
}
